@mixin container {
  width: 320px;
  border: 1px dashed $pink;
  margin: 0 auto;
  @media (min-width: $tablet-widths) {
    width: 660px;
  }
  @media (min-width: $desktop-widths) {
    width: 960px;
  }
}
@mixin text {
  font-size: 14px;
  line-height: 28px;
}
@mixin title {
  font-size: 30px;
  line-height: 35px;
}
