.copyright {
  text-decoration: none;
  color: $bg;
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  @media (min-width: $tablet-widths) {
    padding-right: 50px;
    display: flex;
    align-self: flex-end;
  }
}
.copyright::after {
  position: absolute;
  content: "";
  background-image: url("/img/htmlacademy.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: -2px;
  @media (min-width: $tablet-widths) {
    right: 5px;
  }
}
.copyright:hover::after {
  background-image: url("/img/htmlacademy-black.svg");
}
.copyright:active::after {
  background-image: url("/img/htmlacademy-black.svg");
  opacity: 0.3;
}
