.copyright {
  text-decoration: none;
  color: $bg;
  position: relative;
  padding-right: 50px;
  align-self: flex-end;
}
.copyright::after {
  position: absolute;
  content: "";
  background-image: url("/img/htmlacademy.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: -2px;
  right: 5px;
}
