.form__inner {
  @include container;
  @media (min-width: $tablet-widths) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__text {
  @include text;
  line-height: 31px;
  text-align: center;
  padding: 30px 20px;
  padding-top: 47px;
  padding-bottom: 15px;
  margin: 0;
  @media (min-width: $tablet-widths) {
    padding: 60px 90px;
    display: block;
    padding-top: 90px;
    padding-bottom: 50px;
    font-size: 17px;
  }
  @media (min-width: $desktop-widths) {
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__mobile-hidden {
  display: none;
  @media (min-width: $tablet-widths) {
    display: inline;
  }
}

.form__fields-wrap {
  @media (min-width: $tablet-widths) {
    background-color: #ffffff;
    order: 2;
    border: 2px solid $light-grey;
    padding: 50px;
  }
}

.form__fields-wrap--checkbox {
  @media (min-width: $tablet-widths) {
    padding-top: 58px;
  }
  @media (min-width: $desktop-widths) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

.form__fields-wrap--radio {
  @media (min-width: $tablet-widths) {
    padding-bottom: 57px;
  }
  @media (min-width: $desktop-widths) {
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

.form__fields-wrap--contacts {
  @media (min-width: $tablet-widths) {
    padding-top: 42px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
  }
  @media (min-width: $desktop-widths) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
    padding-bottom: 10px;
  }
}

.form__fields-wrap--feedback {
  @media (min-width: $tablet-widths) {
    padding-bottom: 33px;
    padding-left: 56px;
    padding-right: 56px;
  }
}

.form__block {
  padding: 20px;
  @media (min-width: $tablet-widths) {
    width: 100%;
  }
}

.form__block--name {
  padding-top: 20px;
  padding-bottom: 23px;
  @media (min-width: $tablet-widths) {
    position: relative;
    width: 100%;
    order: 1;
    padding-top: 23px;
  }
  @media (min-width: $desktop-widths) {
    width: 45%;
  }
}

.form__block--checkbox {
  background-color: $bg-grey;
  padding-bottom: 45px;
  @media (min-width: $tablet-widths) {
    position: relative;
    background-color: #ffffff;
    order: 4;
  }
}

.form__block--radio {
  background-color: $bg-grey;
  padding-top: 35px;
  padding-bottom: 47px;
  @media (min-width: $tablet-widths) {
    position: relative;
    background-color: #ffffff;
    order: 2;
    padding-bottom: 45px;
  }
  @media (min-width: $desktop-widths) {
    width: 45%;
    padding-top: 20px;
  }
}

.form__block--contacts {
  padding-top: 25px;
  padding-bottom: 32px;
  @media (min-width: $tablet-widths) {
    position: relative;
    order: 3;
    padding-bottom: 45px;
  }
  @media (min-width: $desktop-widths) {
    padding-bottom: 0;
    margin-bottom: 42px;
  }
}

.form__block--feedback {
  padding-top: 38px;
  padding-bottom: 40px;
  @media (min-width: $tablet-widths) {
    position: relative;
    order: 5;
    padding-top: 17px;
    padding-bottom: 65px;
  }
}

.form__field {
  @media (min-width: $tablet-widths) {
    padding-bottom: 30px;
  }
}

.form__field--checkbox {
  padding-bottom: 54px;
  padding-left: 70px;
  @media (min-width: $tablet-widths) {
    padding-bottom: 55px;
  }
  @media (min-width: $desktop-widths) {
    padding: 0;
    padding-bottom: 50px;
    font-size: 13px;
    width: 27%;
  }
}

.form__field--radio {
  padding-left: 70px;
  padding-bottom: 47px;
  @media (min-width: $tablet-widths) {
    padding-bottom: 50px;
  }
}

.form__field--checkbox:last-child,
.form__field--radio:last-child {
  padding-bottom: 0;
}

.form__field--name {
  padding-bottom: 22px;
  @media (min-width: $tablet-widths) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 9%;
  }
  @media (min-width: $desktop-widths) {
    padding-bottom: 55px;
  }
}

.form__field--name:last-child {
  @media (min-width: $tablet-widths) {
    padding-bottom: 10px;
  }
}

.form__field--tel,
.form__field--email {
  padding-bottom: 10px;
  @media (min-width: $tablet-widths) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  @media (min-width: $desktop-widths) {
    flex-direction: row;
    width: 43%;
    padding-bottom: 0;
  }
}

.form__field--email {
  @media (min-width: $tablet-widths) {
    padding-bottom: 0;
  }
}

.form__title {
  @include text;
  line-height: 20px;
  color: $pink;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  @media (min-width: $tablet-widths) {
    position: absolute;
    z-index: 1000;
    top: 7%;
    left: 27%;
    padding: 0;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: $desktop-widths) {
    top: 3%;
    left: 15%;
  }
}

.form__title--checkbox {
  padding-top: 16px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 43px;
  @media (min-width: $tablet-widths) {
    top: 2%;
    left: 25%;
  }
  @media (min-width: $desktop-widths) {
    display: block;
    left: 30%;
  }
}

.form__title--contacts {
  display: none;
  @media (min-width: $tablet-widths) {
    display: block;
    left: 35%;
    top: 4%;
  }
  @media (min-width: $desktop-widths) {
    left: 40%;
    top: 8%;
  }
}

.form__title--radio {
  padding-bottom: 38px;
}

.form__title--feedback {
  padding-bottom: 15px;
  @media (min-width: $tablet-widths) {
    display: block;
    left: 35%;
    top: 3%;
  }
  @media (min-width: $desktop-widths) {
    display: block;
    left: 38%;
  }
}

.form__label {
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  @include text;
  font-size: 14px;
  text-transform: uppercase;
  @media (min-width: $tablet-widths) {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
  }
}

.form__label--tel,
.form__label--email {
  color: $pink;
  padding-bottom: 8px;
  padding-top: 10px;
  padding-left: 20px;
}

.form__label--name {
  color: $pink;
  padding-left: 20px;
  padding-bottom: 6px;
  @media (min-width: $tablet-widths) {
    padding-left: 0;
    margin-right: 3%;
    margin: 0;
  }
}

.form__label--tel,
.form__label--email {
  @media (min-width: $tablet-widths) {
    width: 100%;
  }
}

.form__label--checkbox,
.form__label--radio {
  text-transform: none;
  font-size: 18px;
  @media (min-width: $desktop-widths) {
    padding: 0;
  }
}

.form__input--name,
.form__input--tel,
.form__input--email {
  width: 235px;
  @media (min-width: $tablet-widths) {
    width: 90%;
  }
  @media (min-width: $desktop-widths) {
    width: 85%;
  }
}

.form__input--tel,
.form__input--email {
  @media (min-width: $tablet-widths) {
    padding: 0;
    height: 55px;
    width: 98%;
    padding-left: 10px;
  }
  @media (min-width: $desktop-widths) {
    width: 98%;
    padding-left: 7px;
  }
}

.form__input--name {
  @media (min-width: $tablet-widths) {
    width: 90%;
  }
}

.form__contact {
  width: 100%;
  @media (min-width: $tablet-widths) {
    position: relative;
    order: -1;
    width: 100%;
  }
  @media (min-width: $desktop-widths) {
    width: 100%;
  }
}

.form__icon {
  @media (min-width: $tablet-widths) {
    position: absolute;
    right: -2px;
    bottom: 2px;
    background-repeat: no-repeat;
    background-color: $light-grey;
    background-size: 55px 55px;
    width: 55px;
    height: 55px;
  }
}

.form__icon--tel {
  @media (min-width: $tablet-widths) {
    background-image: url("/img/icon-phone.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
  }
}

.form__icon--email {
  @media (min-width: $tablet-widths) {
    background-image: url("/img/icon-mail.svg");
    background-size: 20px 18px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  outline: none;
  border: none;
  border: 2px solid $light-grey;
  background-color: none;
  padding: 21px;
}

.form__input:hover {
  border: 2px solid #000000;
}

.form__input:focus {
  border: 2px solid $pink;
}

.form input[type="radio"] {
  display: none;
}

.form__input--radio + .form__label--radio {
  position: relative;
  display: block;
  cursor: pointer;
}

.form__input--radio + .form__label--radio::before {
  position: absolute;
  display: block;
  content: "";
  width: 31px;
  height: 31px;
  background-color: #ffffff;
  border: 2px solid $light-grey;
  border-radius: 50%;
  left: -63px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input--radio:hover + .form__label--radio::before {
  border: 2px solid #000000;
}

.form__input--radio:active + .form__label--radio::before {
  border: 2px solid $pink;
}

.form__input--radio:checked + .form__label--radio::after {
  position: absolute;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
  left: -53px;
  top: 50%;
  transform: translateY(-50%);
}

.form input[type="checkbox"] {
  display: none;
}

.form__input--checkbox + .form__label--checkbox {
  position: relative;
  display: block;
  text-align: left;
  cursor: pointer;
}

.form__input--checkbox + .form__label--checkbox::before {
  position: absolute;
  display: block;
  content: "";
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid $light-grey;
  left: -63px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input--checkbox:hover + .form__label--checkbox::before {
  border: 2px solid #000000;
}

.form__input--checkbox:active + .form__label--checkbox::before {
  border: 2px solid $pink;
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  display: block;
  content: "";
  width: 21px;
  height: 27px;
  left: -54px;
  top: 7px;
  background-image: url("/img/icon-yes-pink.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.form__feedback {
  outline: none;
  border: none;
  resize: none;
  box-sizing: border-box;
  width: 280px;
  padding: 20px;
  border: 2px solid $light-grey;
  min-height: 200px;
  @media (min-width: $tablet-widths) {
    width: 100%;
    position: relative;
  }
  @media (min-width: $desktop-widths) {
    min-height: 120px;
  }
}

.form__button {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  @media (min-width: $tablet-widths) {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    order: 6;
  }
  @media (min-width: $desktop-widths) {
    margin: 0;
  }
}

.form__btn {
  outline: none;
  background-color: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: $green;
  text-transform: uppercase;
  width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 35px;
  @media (min-width: $tablet-widths) {
    width: 49%;
  }
  @media (min-width: $desktop-widths) {
    width: 33%;
  }
}

.form__btn:hover {
  background-color: $green-hvr;
}

.form__btn:active {
  background-color: $green;
  color: $light-grey;
}

.form__btn--disabled {
  background-color: $light-grey;
  color: #ffffff;
}

.form__btn--disabled:hover {
  background-color: $light-grey;
  color: #ffffff;
}

.form__btn--disabled:active {
  background-color: $light-grey;
  color: #ffffff;
}

.form__required {
  display: block;
  @include text;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $tablet-widths) {
    width: 50%;
    text-align: right;
    text-transform: uppercase;
    padding-top: 20px;
  }
}

.form__required--pink {
  color: $pink;
}

.form__required--pink::after {
  content:"\00A0\2014";
  color: black;
}

.form__text-hidden {
  display: none;
  @media (min-width: $desktop-widths) {
    display: inline-block;
    padding-right: 5px;
  }
}
