.form__inner {
  @include container ;
}
.form__text {
  text-align: center;
  padding: 30px 20px;
  @media (min-width: $tablet-widths) {
    padding: 60px 130px;
    display: block;
  }
  @media (min-width: $desktop-widths) {
    padding: 80px 200px;
  }
}
.form__mobile-hidden {
  display: none;
  @media (min-width: $tablet-widths) {
    display: inline;
  }
}
.form__block {
  padding: 20px;
  padding-bottom: 40px;
}
.form__block--checkbox {
  background-color: $bg-grey;
  @media (min-width: $tablet-widths) {
    background-color: #ffffff;
  }
}
.form__block--radio {
  background-color: $bg-grey;
  @media (min-width: $tablet-widths) {
    background-color: #ffffff;
  }
}
.form__field {
}
.form__field--checkbox {
  padding-bottom: 50px;
  padding-left: 80px;
}
.form__field--radio{
  padding-left: 80px;
  padding-bottom: 50px;
}
.form__title {
  color: $pink;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.form__label {
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}
.form__label--name,
.form__label--tel,
.form__label--email {
  color: $pink;
  padding-bottom: 10px;
  padding-top: 20px;
}
.form__input--name,
.form__input--tel,
.form__input--email {
  width: 240px;
}
.form__input {
  font-family: "Open Sans", "Arial", sans-serif;
  outline: none;
  border: none;
  border: 2px solid #B5B8BD;
  background-color: none;
  padding: 20px;
  cursor: pointer;
}
.form input[type="radio"] {
  display: none;
}
.form__input--radio + .form__label--radio {
  position: relative;
  display: block;
}
.form__input--radio + .form__label--radio::before {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 2px solid #B5B8BD;
  border-radius: 50%;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
  @media (min-width: $tablet-widths) {

  }
}
.form__input--radio:checked + .form__label--radio::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: $pink;
  border-radius: 50%;
  left: -58px;
  top: 50%;
  transform: translateY(-50%);
}
.form input[type="checkbox"] {
  display: none;
}
.form__input--checkbox + .form__label--checkbox {
  position: relative;
  display: block;
  text-align: left;
}
.form__input--checkbox + .form__label--checkbox::before {
  position: absolute;
  display: block;
  content: "";
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #B5B8BD;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
}
.form__input--checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  display: block;
  content: "";
  width: 17px;
  height: 22px;
  left: -58px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/img/icon-yes-pink.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.form__feedback {
  outline: none;
  border: none;
  resize: none;
  box-sizing: border-box;
  width: 280px;
  padding: 20px;
  border: 2px solid #B5B8BD;
  min-height: 200px;
  @media (min-width: $tablet-widths) {
    width: 620px;
  }
  @media (min-width: $desktop-widths) {
    width: 920px;
  }
}
.form__button {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
.form__btn {
  outline: none;
  background-color: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: $green;
  text-transform: uppercase;
  width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.form__btn:hover {
  background-color: $green-hvr;
}
.form__btn:active {
  background-color: $green;
  color: #B5B8BD;
}
.form__required {
  display: block;
}
