.photos__inner {
  @include container;
}
.photos__title {
  @include text;
  line-height: 30px;
  text-align: center;
  padding: 30px;
  padding-bottom: 28px;
  @media (min-width: $tablet-widths) {
    padding: 35px 100px;
    display: block;
    font-size: 18px;
  }
  @media (min-width: $desktop-widths) {
    padding: 60px 240px;
  }
}
.photos__title--head {
  padding: 30px 35px;
  padding-bottom: 34px;
  @media (min-width: $tablet-widths) {
    padding: 73px 100px;
    padding-bottom: 40px;
    font-size: 18px;
  }
  @media (min-width: $desktop-widths) {
    padding: 80px 240px;
  }
}
.photos__mobile-wrap {
  display: block;
}
.photos__items {
  display: flex;
  flex-wrap: wrap;
}
.photos__item {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  @media (min-width: $tablet-widths) {
    display: flex;
    flex-direction: column;
    width: 46%;
    padding-top: 2%;
    padding-left: 2%;
  }
  @media (min-width: $desktop-widths) {
    width: 30%;
  }
}
.photos__panorama {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
}
.photos__panorama::before {
  position: absolute;
  content: "Панорама дня";
  text-transform: uppercase;
  background-color: $pink;
  font-size: 13px;
  color: #ffffff;
  top: 0;
  padding: 3px 18px;
  right: 21px;
  z-index: 4000;
}
.photos__item:last-child {
  margin-bottom: 0;
}
.photos__link {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: $bg-grey;
}
.photos__photo {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.photos__photo--main {
  padding: 0;
  margin: 0;
}
.photos__content {
  background-color: $bg-grey;
  padding-top: 15px;
  padding-left: 17px;
  padding-right: 12px;
  padding-bottom: 16px;
  @media (min-width: $tablet-widths) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
.photos__content--main {
  margin-left: 20px;
  margin-right: 20px;
}
.photos__description{
  @media (min-width: $tablet-widths) {
    align-items: flex-start;
  }
}
.photos__name {
  @include text;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.photos__time {
  @include text;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}
.photos__text {
  padding: 0;
  margin: 0;
  @include text;
  line-height: 24px;
  padding-bottom: 8px;
}
.photos__likes {
  @include text;
  font-size: 12px;
  color: $pink;
  position: relative;
  text-transform: uppercase;
  padding-left: 30px;
  @media (min-width: $tablet-widths) {
    padding-left: 0;
    margin-top: auto;
    display: flex;
    align-items: flex-start;
  }
}
.photos__likes::before {
  position: absolute;
  content: "";
  background-image: url("/img/icon-heart.svg");
  background-size: 12px 13px;
  width: 12px;
  height: 13px;
  top: 7px;
  left: 0;
  z-index: 10000;
  @media (min-width: $tablet-widths) {
    top: 7px;
    left: 95%;
  }
}
.photos__description--main {
  @media (min-width: $tablet-widths) {
    order: 1;
    width: 50%;
  }
}
.photos__likes--main {
  @media (min-width: $tablet-widths) {
    order: 2;
    align-self: flex-end;
  }
}
.photos__text--main {
  @media (min-width: $tablet-widths) {
    order: 3;
  }
}
