.photo-editor__inner {
  background-color: $bg-grey;
  @include container;
  padding-top: 16px;
  @media (min-width: $tablet-widths) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
  }
  @media (min-width: $desktop-widths) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
.photo-editor__photo {
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  @media (min-width: $tablet-widths) {
    width: 50%;
    padding: 0;
  }
}
.photo-editor__tools {
  padding-top: 95px;
  cursor: pointer;
  @media (min-width: $tablet-widths) {
    width: 50%;
    padding-top: 10px;
  }
}
.photo-editor__settings {
  display: flex;
  justify-content: space-between;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 36px;
  border-bottom: 1px solid $light-grey;
  @media (min-width: $tablet-widths) {
    flex-wrap: wrap;
  }
}
.photo-editor__toggle {
  outline: none;
  border: none;
  background: none;
}
.photo-editor__bar {
  width: 240px;
  height: 2px;
  background-color: #000000;
  @media (min-width: $desktop-widths) {
    width: 350px;
  }
}
.photo-editor__toggle--crop {
  position: relative;
}
.photo-editor__toggle--crop::after {
  cursor: pointer;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid $pink;
  background-color: $bg-grey;
  border-radius: 50%;
  top: -23px;
  left: 192px;
}
.photo-editor__toggle--fill {
  position: relative;
}
.photo-editor__toggle--fill::after {
  cursor: pointer;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid $pink;
  background-color: $bg-grey;
  border-radius: 50%;
  top: -23px;
  left: 40px;
}
.photo-editor__toggle--contrast {
  position: relative;
}
.photo-editor__toggle--contrast::after {
  cursor: pointer;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid $pink;
  background-color: $bg-grey;
  border-radius: 50%;
  top: -23px;
  left: 120px;
}
.photo-editor__toggle:active::after {
  background-color: $pink;
}
.photo-editor__bar--fill {
  display: none;
  @media (min-width: $tablet-widths) {
    display: block;
  }
}
.photo-editor__bar--contrast {
  display: none;
  @media (min-width: $tablet-widths) {
    display: block;
  }
}
.photo-editor__crop {
  position: relative;
  @media (min-width: $tablet-widths) {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 30px;
    margin-bottom: 35px;
  }
}
.photo-editor__crop::before {
  position: absolute;
  content: "";
  background-image: url("/img/icon-editor-crop.svg");
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  left: 14px;
  bottom: 40px;
  opacity: 0.5;
  @media (min-width: $tablet-widths) {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    bottom: 18px;
    left: -40px;
  }
}
.photo-editor__crop:hover::before {
  opacity: 1;
}
.photo-editor__crop--active {
  position: relative;
}
.photo-editor__crop--active::before {
  position: absolute;
  content: "";
  background-image: url("/img/icon-editor-crop-pink.svg");
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  left: 14px;
  bottom: 40px;
  opacity: 1;
}
.photo-editor__fill {
  position: relative;
  @media (min-width: $tablet-widths) {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 30px;
    margin-bottom: 35px;
  }
}
.photo-editor__fill::before {
  position: absolute;
  content: "";
  background-image: url("/img/icon-editor-fill.svg");
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
  right: 95px;
  bottom: 40px;
  opacity: 0.5;
  @media (min-width: $tablet-widths) {
    background-image: url("/img/icon-editor-fill-pink.svg");
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    bottom: 18px;
    left: -40px;
    opacity: 1;
  }
}
.photo-editor__fill:hover::before {
  opacity: 1;
}
.photo-editor__contrast {
  position: relative;
  @media (min-width: $tablet-widths) {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 40px;
  }
}
.photo-editor__contrast::before {
  position: absolute;
  content: "";
  background-image: url("/img/icon-editor-contrast.svg");
  background-size: 34px 34px;
  width: 34px;
  height: 34px;
  right: 25px;
  bottom: 47px;
  opacity: 0.5;
  @media (min-width: $tablet-widths) {
    background-image: url("/img/icon-editor-contrast-pink.svg");
    opacity: 1;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    bottom: 30px;
    left: -37px;
  }
}
.photo-editor__contrast:hover::before {
  opacity: 1;
}
.photo-editor__btns {
  padding: 30px 20px;
  padding-top: 37px;
  padding-bottom: 38px;
  @media (min-width: $desktop-widths) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.photo-editor__post {
  cursor: pointer;
  width: 280px;
  border: none;
  outline: none;
  font-family: "Open Sans", "Arial", sans-serif;
  text-decoration: none;
  color: $pink;
  font-size: 16px;
  font-weight: 700;
  display: block;
  text-align: center;
  border: 2px solid $pink;
  padding: 15px 20px;
  border-radius: 40px;
  background-color: $bg-grey;
}
.photo-editor__post:hover {
  color: #ffffff;
  background-color: $pink;
}
.photo-editor__post:active {
  color: rgba(256,256,256,0.3);
  background-color: $pink;
}
.photo-editor__cancel {
  cursor: pointer;
  width: 280px;
  border: none;
  outline: none;
  font-family: "Open Sans", "Arial", sans-serif;
  text-decoration: none;
  color: $dark-grey;
  font-size: 16px;
  font-weight: 700;
  display: block;
  text-align: center;
  border: 2px solid $light-grey;
  padding: 15px 20px;
  border-radius: 40px;
  background-color: $bg-grey;
  margin-top: 10px;
  opacity: 0.5;
  @media (min-width: $desktop-widths) {
    margin: 0;
    margin-left: 20px;
  }
}
.photo-editor__cancel:hover {
  color: $dark-grey;
  background-color: $bg-grey;
  opacity: 1;
}
.photo-editor__cancel:active {
  color: rgba(256,256,256,0.3);
  background-color: $dark-grey;
  border: 1px solid $dark-grey;
  padding: 16px 20px;
}
