.promo {
  background-color: #ffffff;
}
.promo__inner {
  @include container;
}
.promo__title {
  @include title;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 27px;
  @media (min-width: $tablet-widths) {
    font-size: 40px;
    line-height: 47px;
    padding-top: 50px;
    padding-bottom: 44px;
  }
  @media (min-width: $desktop-widths) {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.promo__mobile-wrap {
  display: block;
  padding: 0;
  padding-top: 20px;
  @media (min-width: $tablet-widths) {
    display: inline;
  }
}
.promo__tablet-wrap {
  @media (min-width: $tablet-widths) {
    display: block;
    padding: 0;
  }
}
